.search-container {
  width: 100%;

  .search-bar {
    margin-left: 2rem;
  }
}

.list-container {
  position: relative;
  z-index: 1;
}

.list-parent {
  position: absolute;
  width: 100%;
  background-color: $header-background-color;
}
